!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html
  / <![endif]
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
      Green Ruby
      - if name
        = ": #{name}"
    %meta{ content: "A Newsletter dedicated to weekly fresh news about ruby, web development, javascript, and related topics.", name: "description" }
    %meta{ content: "ruby, rails, newsletter, webdev, js, javascript, geeks, podcasts, devops, links.", name: "keywords" }
    %meta{ content: "width=device-width, minimum-scale=1.0, maximum-scale=1.0", name: "viewport" }
    %meta{ content: "http://greenruby.org/img/green-ruby-100.png", itemprop: 'image' }
    %meta{ content: "http://greenruby.org/img/green-ruby-100.png", property: 'og:image' }
    %meta{ content: "mose", name: 'author' }
    %meta{ content: "Green Ruby News", property: 'og:site_name' }
    %meta{ content: "news@greenruby.org", property: 'og:email' }
    %meta{ content: "http://greenruby.org", property: 'og:url' }
    %meta{ content: "Green Ruby#{": #{name}" if name}", property: 'og:title' }
    %meta{ content: "A Newsletter dedicated to weekly fresh news about ruby, web development, javascript, and related topics.", property: 'og:description' }

    %link{ href: "feed.rss", rel: "alternate", title: "Green Ruby", type: "application/rss+xml" }
    %link{ href: "css/bootstrap.min.css", rel: "stylesheet" }
    %link{ href: "css/bootstrap-theme.min.css", rel: "stylesheet" }
    %link{ href: "css/grn2.css", rel: "stylesheet" }
    %script{ src: "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" }
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>

    .navbar.navbar-default.navbar-fixed-top.topnav(role="navigation")
      .navbar-inner
        .container
          .navbar-header
            %button.navbar-toggle( data-toggle="collapse" data-target="#navcollapse" )
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a{ href: 'index.html', class: "navbar-brand logoized" }
              Green Ruby
              %span News
          .collapse.navbar-collapse.navbar-right#navcollapse
            %ul.nav.navbar-nav
              %li
                %a{ href: 'index.html'} Home
              %li
                %a{ href: 'http://mose.cartodb.com/viz/6a4d431e-d6b7-11e3-8757-0e10bcd91c2b/embed_map' } Map
              %li
                %a{ href: 'links.html'} Links
              %li
                %a{ href: 'about.html'} About
              %li
                %a{ href: 'mailto:news@greenruby.org'} Contact
              %li
                %a{ href: "feed.rss"}
                  %img{ src: "img/rss.png" }

    .container
      .row
        .col-sm-3.col-md-2.leftbar.hidden-print
          %h3( data-toggle="collapse" data-target="#letters-collapse" )
            Archives
          .collapse.navbar-collapse#letters-collapse
            %a.show-more(data-all="0" data-year="2015" href="#") Archives 2015
            %a.show-more(data-all="0" data-year="2014" href="#") Archives 2014
            %a.show-more(data-all="0" data-year="2013" href="#") Archives 2013
            %ul.nav.nav-sidebar.letters
              - letters.each do |num, letter|
                %li{ class: "#{letter['date'][/20[0-9]{2}/]}" }
                  %a{ href: letter['link'] }
                    = num
                    %span.date= letter['date'].gsub(/ [0-9]+$/,'')

        .col-sm-9.col-md-7.main
          = content

        .col-sm-12.col-md-3.rightbar.hidden-print
          %p.header Green Ruby News is a feed of fresh links of the week about ruby, javascript, webdev, devops, collected by mose, xenor and tysliu every sunday.
          %p
          %form{ action: "http://greenruby.us6.list-manage.com/subscribe/post?u=f1b3b59d2383eeb07537f6440&amp;id=7136c985cf", method: 'post'}
            .text-center
              %b Subscribe
            .text-center
              to the
            .text-center
              %b Green Ruby Weekly Newsletter
            %p
            %p
              %input.form-control(name="EMAIL" placeholder="email address" type="email")
              %input(type="hidden" name="b_f1b3b59d2383eeb07537f6440_7136c985cf" value="")
              %input.form-control.btn.btn-primary(type="submit" name="subscribe" value="Subscribe")
          %small.text-center Email distribution is powered by mailchimp.
          %p
          %ul.social
            Green Ruby on
            %li
              %a{ href: "http://twitter.com/greenrubist", rel:"publisher"}Twitter
            %li
              %a{ href: "https://plus.google.com/103851980502956488088", rel:"publisher"}Google+
            %li
              %a{ href: "https://www.facebook.com/pages/Green-Ruby/1413063455616628", rel:"publisher"}Facebook

    #footer
      %a{ href: 'mailto:news@greenruby.org', class: 'contact'}
        contact
      The Green Ruby Newsletter is <a href="https://github.com/greenruby/grn-static">openly</a> published by <a href="http://mose.com">Mose</a>
      .copyright
        Copyright &copy; 2013-2015 Mose
        %a( rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/")
          %img( alt="Creative Commons License" style="border-width:0" src="img/cc-80x15.png" )

    %script{ src: "http://code.jquery.com/jquery-1.10.2.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')

    %script{ src: "js/bootstrap.min.js" }
    %script{ src: "js/static.js" }
