<div id="templateContainer">
<div id="templateHeader">
<h1>#<%= @c.edition %> - <%= @c.pubdate %></div>
</div>
<div id="templateBody">
<div>
	<div class="baseline">
	<h2>Edito</h2>
	<%= @c.edito %>
<br>
<br>
<em>&nbsp; mose - the green ruby editor</em><br>
<em>&nbsp;
<% if @c.contributors %>
	<%= @c.contributors %> - the informers
<% else %>
	xenor - the informer
<% end %>
</em><br>
&nbsp; <a href="http://greenruby.org" target="_self">http://greenruby.org</a>
<br>
</div>

<% @c.topics.each do |t| %>
<h3><%= t.title %></h3>
<div class="baseline"><%= t.baseline %></div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
	<% t.links.each do |l| %>
		<tr>
			<td>
				<a href="<%= l.url %>" class="linktitle"><%= l.title %></a>
				<% if l.duration %><span class="duration">(<%= l.duration %>)</span><% end %>
			</td>
			<td class="date">
				<%= l.pubdate %>
				<% if l.tags %>
					<% l.tags.each do |tag| %>
						<img class="icon" src="ico/<%= tag %>.png" height="18" width="18" align="right" alt="<%= tag %>" />
					<% end %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="comment">
				<%= l.comment %>
			</td>
		</tr>
	<% end %>
</table>
<% end %>
</div>
</div>
