<div id="templateContainer">
<div id="templateHeader">
<h1 style="text-align:right;margin-bottom:0;">#<%= @c.edition %> - <%= @c.pubdate %></h1>
</div>
<div id="templateBody">
<% if @c.edito %>
<div>
<div class="baseline">
<h2>Edito</h2>
<%= @c.edito %>
<br>
</div>
</div>
<% end %>

<% @c.topics.each do |t| %>
<h3><%= t.title %></h3>
<div class="baseline"><%= t.baseline %></div>
<table cellpadding="0" cellspacing="0" border="0" class="meat">
<% t.links.each do |l| %>
<tr><td>
<a href="<%= l.url %>" class="linktitle"><%= l.title %></a>
<% if l.duration %><span class="duration">(<%= l.duration %>)</span><% end %>
</td><td class="date">
<%= l.pubdate %><% if l.tags %><% l.tags.each do |tag| %>
<img class="icon" src="ico/<%= tag %>.png" height="18" width="18" align="right" alt="<%= tag %>" />
<% end %><% end %></td></tr>
<tr><td colspan="2" class="comment">
<%= l.comment %>
</td></tr>
<% end %>
</table>
<% end %>

<div class="baseline" style="border-top: 1px solid #ccc">
<i>Links curated by by mose (editor),
<% if @c.contributors %>
<%= @c.contributors %> (informers)
<% else %>
xenor (informer)
<% end %>.</i>
</div>

<% if @c.rant && @c.rant != '' %>
<div id="rant">
<h3>Rant</h3>
<div class="baseline"><i>The random rant of the week by mose.</i></div>
<%= @c.rant_html %>
</div>
<% end %>

</div>
</div>
